version: "{branch}-ci-{build}"
os: Visual Studio 2015

environment:
  RUBY_VERSION: 200
  BOOST_ROOT: C:\Libraries\boost_1_59_0
  BOOST_INCLUDEDIR: C:\Libraries\boost_1_59_0\boost
  matrix:
  - platform: x86
    BOOST_LIBRARYDIR: C:\Libraries\boost_1_59_0\lib32-msvc-14.0
    QT_DIR: C:\Qt\5.7\msvc2015
  - platform: x64
    BOOST_LIBRARYDIR: C:\Libraries\boost_1_59_0\lib64-msvc-14.0
    QT_DIR: C:\Qt\5.7\msvc2015_64
    
install:
- set PATH=C:\Ruby%RUBY_VERSION%\bin;%BOOST_LIBRARYDIR%;%QT_DIR%\bin;%PATH%

build_script:
- cmd: call appveyor.bat

#branches:
#  only:
#  - master
#
#notifications:
#- provider: Email
#  to:
#  - cukes-devs@googlegroups.com
#  on_build_success: false
#  on_build_failure: true
#  on_build_status_changed: true
